<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/7133/7133364.png" type="image/x-icon">
</head>

<body>

    <div class="dateAndTime">
        <p id="live-time"></p>

        <p class="date">
            <%= dateAndTime %>
        </p>

    </div>
    <div class="container">

        <form class="myForm" action="/weather" method="post">
            <input class="city" name="cityname" type="text" required="">
            <button type="submit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>

        </form>

        <p>Enter the City Name</p>


        <div class="weather-info">

            <h2 class="cityName">
                <%= allData.name %>
            </h2>

            <h1 class="temp">
                <%= Math.floor(allData.main.temp) %>°C</p>
            </h1>

            <h2 class="weather-condition">
                <%= allData.weather[0].main %>
            </h2>

        </div>

        <div class="otherinfo">

            <div class="box">
                <p>Wind: <%= allData.wind.speed %> M/S</p>
            </div>
            <div class="box">
                <p>Pressure: <%= allData.main.pressure %> HPA</p>
            </div>
            <div class="box">
                <p>Humidity: <%= allData.main.humidity %>%</p>
            </div>
            <div class="box">
                <p>Visibility: <%= allData.visibility %> Meters</p>
            </div>
        </div>

    </div>

    <script>
        function updateTime() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            document.getElementById('live-time').innerText = `${hours}:${minutes}:${seconds}`;
        }

        // Update the live time every second
        setInterval(updateTime, 1000);

        // Initial call to set the initial time
        updateTime();
    </script>

    <script src="../index.js"></script>
</body>

</html>